.Tasks-Bar {
  background-color: whitesmoke;
  color: grey;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#filter-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
