#name {
  background-color: white;
  border: black solid 1px;
  margin: 20px;
  color: black;
}

#description {
  background-color: white;
  border: black solid 1px;
  margin: 20px;
  color: black;
}
